html {
  background: url(../img/environments/bg1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important; }
  html img.draggable-monument {
    width: 150px; }
  html body {
    font-size: 14px;
    margin: 0; }
    html body li {
      list-style: none; }
    html body .enviro {
      margin-left: auto;
      top: 1rem;
      padding: 1rem;
      height: 4rem;
      width: 4rem;
      z-index: 1000;
      position: absolute;
      right: 1rem; }
      html body .enviro img {
        width: 100%; }
    html body .monument-wrapper {
      position: fixed;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      bottom: 0;
      z-index: 1000;
      width: 100%; }
      html body .monument-wrapper .icon-wrap {
        height: 10rem;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 1000; }
      html body .monument-wrapper .menu-icon {
        display: inline-block;
        cursor: pointer;
        padding: 0 2rem;
        transition: 1s all; }
        html body .monument-wrapper .menu-icon .bar1, html body .monument-wrapper .menu-icon .bar2, html body .monument-wrapper .menu-icon .bar3 {
          width: 45px;
          height: 5px;
          background-color: white;
          margin: 11px 0; }
      html body .monument-wrapper .change {
        transform: rotate(90deg); }
      html body .monument-wrapper .monument-menu {
        width: 100%;
        transform: translateY(0px);
        transition: 2s all;
        overflow-x: auto; }
        html body .monument-wrapper .monument-menu .opacity {
          opacity: 1 !important; }
        html body .monument-wrapper .monument-menu ul.img-wrapper {
          margin: 0 6rem;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          overflow-x: scroll;
          min-width: 100%;
          width: -webkit-min-content;
          list-style-type: none;
          opacity: 0;
          transition: .5s all; }
          html body .monument-wrapper .monument-menu ul.img-wrapper li.item {
            margin: 1rem;
            width: 150px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative; }
            html body .monument-wrapper .monument-menu ul.img-wrapper li.item img {
              width: 100%; }
            html body .monument-wrapper .monument-menu ul.img-wrapper li.item ul.sub-menu {
              opacity: 0;
              transition: transform 1s, opacity .5s;
              TRANSFORM: translateY(1000PX);
              display: none; }
              html body .monument-wrapper .monument-menu ul.img-wrapper li.item ul.sub-menu li {
                padding: 25px;
                -webkit-padding-start: 0px; }
            html body .monument-wrapper .monument-menu ul.img-wrapper li.item ul.sub-menu.display {
              transform: translateY(0px);
              opacity: 1;
              transition: .5s opacity; }
            html body .monument-wrapper .monument-menu ul.img-wrapper li.item ul.sub-menu.display-block {
              display: block; }
        html body .monument-wrapper .monument-menu .scroll-icon {
          padding: 0 2rem;
          position: absolute;
          height: 100%;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center; }
          html body .monument-wrapper .monument-menu .scroll-icon i {
            border: solid black;
            border-width: 0px 3px 3px 0;
            display: inline-block;
            padding: 3px;
            height: 1.1rem;
            width: 1rem;
            background-color: transparent; }
          html body .monument-wrapper .monument-menu .scroll-icon .right {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg); }
    html body .canvas-area {
      width: 100%;
      height: 100%;
      position: fixed; }
    html body .canvas-monument {
      width: 300px;
      height: 300px;
      position: absolute !important;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto; }
      html body .canvas-monument #handle {
        height: 50%;
        width: 100%;
        position: absolute;
        bottom: 0; }
      html body .canvas-monument img {
        width: 100%;
        height: auto;
        resize: both;
        display: inline-block; }

#resizable {
  width: 150px;
  height: 150px;
  padding: 0.5em; }

/*# sourceMappingURL=style.css.map */
